body{
    background-color: #ffc907;
    border:10px solid #003366;
  }
  .logo{
    position: absolute;
    top: -200px;
    left: 0;
    width: 500px; 
    height: auto;
    margin: 0%;
  }
  .my-class{
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 50px ;
    padding:25px;
    position:absolute;
    left: 1200px;
    top: -55px;
    font:bolder 30px poppins;
}

  .my-class input[type = "radio"]{
    display: none;
  }
  .my-class label{
    padding:30px;
  
  }
  .donate-butt input[type = "radio"]{
    display:none;
  }
  .donate-butt label{
    background-color: #ffc907;
    padding: 20px 100px;
    border-radius: 10px;
    position:relative;
    color:#003366;
    margin-left: 400px;
    top:-500px;

    
  }
  .main-pic{
    width: 100%;
    margin-bottom:-107px;
  }
    

          


  




    


